.container {
  height: 100%;
  width: 100%;
}

.wrapper {
  height: 100%;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__logo {
    cursor: pointer;
  }
}

.user-detail {
  display: flex;
  flex-direction: row;
  cursor: pointer;

  &__signup {
    margin-right: 1em;
  }
}
