<div class="container">
  <div class="wrapper">
    <div class="fieldset">
      <div class="field">
        <div class="field-label"> Email </div>
        <div class="field-value">
          <input type="text" [(value)]="email" >
        </div>
      </div>
      <div class="field">
        <div class="field-label"> PhoneNo </div>
        <div class="field-value">
          <input type="number" [(value)]="phoneNo">
        </div>
      </div>
      <div class="field">
        <div class="field-label"> Email </div>
        <div class="field-value">
          <input type="password" [(value)]="password">
        </div>
      </div>
      <div class="field">
        <div class="field-value">
          <button (click)="signUp()" > Signup </button>
        </div>
      </div>
    </div>
  </div>
</div>